@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/GothamPro-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gotham';
  font-weight: 300;
  line-height: 1.42;
  font-size: 14px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
  position: relative;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

/*index.html*/
.wrapper-intro {
  background: url('../img/bg/bg-main.jpg') no-repeat;
  background-size: cover;
  position:fixed;
  top:0;
  left:0; 
  width:100%;
  height:100%;
}

.wrapper-intro__logo {
  width: 200px;
  height: 130px;
  padding-top: 350px;
  margin: 0 auto;
  text-align: center;
}

.wrapper-intro__button {
  text-align: center;
	width: 200px;
	margin: 0 auto;
}

.wrapper-intro__link {
  position: relative;
	top: 30px;
	display:block;
  padding-top: 15px;
	width: 182px;
	height: 30px;
	border: 5px solid #ec1e79;
	margin: 0px auto;
	font-weight: bold;
	font-size: 14px;
  text-decoration: none;
	text-transform: uppercase;
	color: #ec1e79;
}

.wrapper-intro__link:hover {
  background-color: #ec1e79;
	color: white;
}

/***workadium.html***/

/***header***/

.header {
    height: 76px;
    margin: 0 auto;
    background: #27273e;
}

.header-logo {
  float: left;
  width: 99px;
  height: 51px;
  padding: 12px 10px 10px 18px;
}

.header-contacts {
  margin: 12px 20px 12px 20px;
}

.header-contacts {
  float: right;
    text-align: right;
}

.header__phone {
  display: block;
  font-weight: bold;
  color: white;
  font-size: 21px;
  text-decoration: none;
}

.header__schedule {
  color: #5dd1f8;
  opacity: .7;
  font-weight: bold;
}

/***main***/

/****Sidebar****/

.sidebar {
  width: 160px;
  float: left;
  margin-left: 19px;
  margin-top: 43px;
}

.nav-menu {
  list-style: none;
}

.nav-menu__item {
  margin-bottom: 27px;
}

.nav-menu__item:last-child {
    margin-bottom: 0;
}

.nav-menu__link {
  display: inline-block;
  text-decoration: none;
}

.nav-menu__icon {
  display: inline-block;
  vertical-align: middle;
}

.nav-menu__text {
  padding-top: 4px;
  padding-left: 15px;
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
  vertical-align: middle;
}

.nav-menu__link:hover .nav-menu__icon-main {
  background-image: url('../img/icons/main_icon_black.png');
}

.nav-menu__link:hover .nav-menu__icon-wallet {
  background-image: url('../img/icons/wallet_icon_black.png');
}

.nav-menu__link:hover .nav-menu__icon-feed {
  background-image: url('../img/icons/feed_icon_black.png');
}

.nav-menu__icon-main {
  background: url('../img/icons/main_icon_red.png') 50% 50% no-repeat;
  width: 18px;
  height: 15px;
}

.nav-menu__icon-wallet {
  background: url('../img/icons/wallet_icon_red.png') 50% 50% no-repeat;
  width: 19px;
  height: 16px;
}

.nav-menu__icon-feed {
  background: url('../img/icons/feed_icon_red.png') 50% 50% no-repeat;
  width: 21px;
  height: 18px;
}

.nav-menu__icon-main.activ {
  background: url('../img/icons/main_icon_black.png') 50% 50% no-repeat;
  width: 18px;
  height: 15px;
}

.nav-menu__icon-wallet.activ {
  background: url('../img/icons/wallet_icon_black.png') 50% 50% no-repeat;
  width: 19px;
  height: 16px;
}

.nav-menu__icon-feed.activ {
  background: url('../img/icons/feed_icon_black.png') 50% 50% no-repeat;
  width: 21px;
  height: 18px;
}

.nav-menu__link:hover .nav-menu__text {
  color: #221f1f;
}


.nav-menu__text {
  color: #ec1e79;
  text-transform: uppercase;
  font-weight: bold;
}

.activ {
  color: black;
}

/***main content***/

.main-content {
  width: 880px;
  float: right;
  margin-right: 20px;
}

.page-image {
  position: relative;
}

.page-image__text {
  position: absolute;
  top: 109px;
  left: 65px;
  font-size: 49px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.page-image__backgraund {
  display: inline-block;
  position: relative;
  width: 878px;
  height: 354px;
  background: url('../img/bg/bg1.jpg');
  transition: all .5s;
}

.page-image__backgraund:before {
  content: '';
  display: block;      
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom: 0;
  background: url('../img/bg/bg1.jpg');
  opacity: 0;
  transition: all .5s;
}

.page-image__luminosity {
  background-color: #5dd1f8;
  background-blend-mode: luminosity;
  }

.page-image__before:hover:before {
  opacity: 1;
  }

.page-text {
  width: 700px;
  line-height: 30px;
  font-size: 18px;
  margin-top: 20px;
}

.page-text__services {
  margin-top: 8px;
  font-size: 18px;
  line-height: 30px;
}

.page-text__list {
  padding-left: 35px;
  margin-top: 7px;
}

.page-text__list-item {
  padding-bottom: 5px;
}

.page-text__main {
  background: #27273e;
  color: #ffffff;
  margin-top: 21px;
  margin-bottom: 70px;
}

.page-text__description {
  margin-left: 30px;
  padding: 12px 10px 11px 0px;
  font-size: 18px;
  line-height: 30px;
}

.page-text__description-pink {
  color: #ec1e79;
  font-weight: bold;
}

/***Partners***/


.partners {
  padding-bottom: 2px;
}

.partners__title {
  font-size: 49px;
  font-weight: bold;
  text-transform: uppercase;
}

.partners__list {
  padding-top: 52px;
  margin-left: -2px;
  margin-bottom: 11px;
}

.partners__item {
  vertical-align: middle;
  display: inline-table;
  text-align: center;
  width: 150px;
  margin-right: 114px;
  margin-bottom: 47px;
}

.partners__item:nth-child(3n) {
    margin-right: 0;
}

.partners__link {
    filter: grayscale(100%);
    vertical-align: middle;
    display: table-cell;

}

.partners__link:hover {
    filter: none;
}


/***footer***/

.footer {
  margin: 0 auto;
  background: #27273e;
  color: #ffffff;
  padding-bottom: 10px;
}

.footer-left {
  width: 270px;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  padding-right: 206px;
  padding-left: 18px;
  padding-top: 10px;
}

.footer-right__social {
  font-weight: bold;
  padding-top: 16px;
  padding-left: 8px;
  
}

.footer-logo {
  width: 100px;
  display: inline-block;
  padding-top: 14px;
  vertical-align: top;
}

.footer-right {
  width: 200px;
  display: inline-block;
  padding-left: 297px;
  vertical-align: top;
}

.footer-right__menu {
  list-style: none;
  padding-top: 7px;
}

.footer-left__link {
  color: #ffffff;
}

.footer-right__link {
  display: inline-block;
  margin-left: 7px;
}

.footer-social__link {
  display: inline;
}

.footer-social__icon {
  background-position: 50% 50%;
	background-repeat: no-repeat;
	width: 20px;
	height: 20px;
}

.footer-right__vk {
  background: url('../img/icons/vk.png');
  opacity: .8;
}

.footer-right__facebook {
  background: url('../img/icons/facebook.png');
  opacity: .8;
}

.footer-right__google {
  background: url('../img/icons/google.png');
  opacity: .8;
}

.footer-right__twitter {
  background: url('../img/icons/twitter.png');
  opacity: .8;
}

.footer-right__mail {
  background: url('../img/icons/mail.png');
  opacity: .8;
}

.footer-right__vk:hover.footer-social__icon {
  background-image: url('../img/icons/vk_red.png');
  opacity: 1;
}

.footer-right__facebook:hover.footer-social__icon {
  background-image: url('../img/icons/facebook_red.png');
  opacity: 1;
}

.footer-right__google:hover.footer-social__icon {
  background-image: url('../img/icons/google_red.png');
  opacity: 1;
}

.footer-right__twitter:hover.footer-social__icon {
  background-image: url('../img/icons/twitter_red.png');
  opacity: 1;
}

.footer-right__mail:hover.footer-social__icon {
  background-image: url('../img/icons/mail_red.png');
  opacity: 1;
}



/***comments.html***/


/****main-content****/

.main-comments {
  padding-top: 40px;
}

.main-pages {
  text-align: center;
}

.main-content__other {
  padding-right: 10px;
} 

.main-content__reviews {
  font-size: 49px;
  margin-top: 10px;
}

.main-content__user-nav {
  margin-top: -4px;
}

.main-content__time {
  display: block;
  margin-bottom: 5px;
  line-height: 21px;
}

.user-name {
  font-weight: bold;
  font-size: 18px;
  margin-top: -2px;
  line-height: 21px;
}

.user-text {
  font-size: 18px;
  line-height: 30px;
  padding-top: 10px;
}

.main-content__text {
  float: left;
  margin-left: 20px;
  width: 700px;
}

.main-pages__number {
  display: block;
}

.main-content__list {
  display: inline;
}

.main-content__link {
  text-decoration: none;
  font-style: italic;
}

.main-content__link.activ {
  color: #ec1e79;
  text-decoration: underline;
}

.main-content__pic {
  display: block;
  float: left;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  padding-top: 5px;
}

.text-input:focus {
  border: 2px solid red;
  outline: none;
}

.main-content__user-list {
  list-style: none;
  margin-bottom: 24px;
  padding-bottom: 23px;
  border-bottom: 2px solid #f5f5f5;
}

.main-content__user-list:last-child {
    border-bottom: 0; 
    padding-bottom: 0;
}

/****Numbering****/


.main-numbering {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 64px;
  margin-right: 92px;
}

.main-numbering__number, .main-numbering__nav, .main-numbering__list {
  display: inline-block;
}

.main-numbering__position {
  margin-left: 10px;
  margin-top: -1px;
}

.main-numbering__nav {
  font-size: 0;
}

.main-numbering__link {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: #221f1f;
  padding: 4px 9px;
}

.main-numbering__link:hover {
  border-radius: 4px;
  background: #27273e;
  color: #ec1e79;
}

.main-numbering__link-prev {
  cursor: default;
  pointer-events: none;
  font-weight: normal;
  text-decoration: none;
}

.main-numbering__link-activ {
  border-radius: 4px;
  background: #27273e;
  color: #ec1e79;
  pointer-events: none;
  cursor: default;
}

/****Form****/

.form {
  width: 564px;
  background: #f5f5f5;
  border-radius: 3px;
  padding: 38px 69px 49px 68px;
  margin-bottom: 68px;
}

.form__title {
    font-size: 49px;
    font-weight: 600;
    margin-bottom: 10px;
}

.form__row {
    width: 100%;
    margin-bottom: 8px;
}

.form__cell {
    float: left;
}

.form__cell:first-child {
    margin-right: 12px;
}

.form__title-text {
    margin-bottom: 8px;
}

.form__input {
    width: 264px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding-left: 10px;
    letter-spacing: .5px;
}

.form__input_position {
    margin-top: 8px;
}

.form__label-textarea {
    display: inline-block;
    padding-top: 4px;
}

.form__comment {
    width: 550px;
    height: 90px;
    border-radius: 3px;
    font-size: 14px;
    resize: none;
    border: 1px solid transparent;
    padding-top: 5px;
    padding-left: 10px;
}

.form__input:focus, .form__comment:focus {
    border-color: #ec1e79;
    outline: none;
}

.form__controls {
    float: left;
    width: 49%;
}

.form__button {
  width: 580px;
}

.form__button-right {
    float: left;
    width: 48%;
    text-align: right;
    padding-top: 3px;
    padding-right: 2px;
}

.form__controls-title {
    margin-bottom: 9px;
}

.form__radio{
    padding-left: 2px;
}

.form__radio-btn {
    display: none;
}

.form__radio_fake {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
    border: 1px solid #c9c9c9;
    position: relative;
    vertical-align: bottom;

}

.form__radio-btn:checked + .form__radio_fake {
    border-color: #ec1e79;
}

.form__radio-btn:checked + .form__radio_fake:after {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background-color: #ec1e79;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 5px;
}

.form__radio-btn:checked + .form__radio_fake + .form__radio-title{
    color: #ec1e79;
}
.form__radio-title {
    display: inline-block;
    vertical-align: 2px;
    padding-left: 1px;
    margin-right: 16px;
}

.form__btn {
    width: 139px;
    height: 45px;
    border: none;
    border-radius: 3px;
    background-color: #27273e;
    position: relative;
    font-size: 0;
    color: #ffffff;
}

.btn__text {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    display: inline-block;
}

.btn__img_position {
    margin-left: 10px;
}

.btn__img {
    display: inline-block;
    width: 15px;
    height: 14px;
    background-image: url("../img/icons/btn_img_white.png");
    background-size: cover;
}

.form__btn:hover {
    background-color: #ffffff;
    color: #ec1e79;
    cursor: pointer;
}

.form__btn:hover .btn__img {
    background-image: url("../img/icons/btn_img_blue.png");
}


/****prices.html****/

/*main content*/

.main-content__other, 
.prices {
  margin-left: 4px;
}

.main-content__prices {
  width: 880px;
  float: right;
  margin-right: 24px;
}

.main-prices {
  padding-top: 40px;
}

.main-content__rates {
  box-sizing: border-box;
}

.main-content__rates-image {
  margin-bottom: 25px;
}

.main-content__rates-list {
  list-style: none;
  display: inline-block;
  width: 250px;
  max-width: 250px;
  margin-right: 35px;
  margin-bottom: 45px;
  vertical-align: top;
  position: relative;
}

.main-content__rates-variant {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  color: #5dd1f8;
  position: absolute;
  top: 61px;
  left: 62px;
  text-align: center;
  display: inline-block;
}

.main-content__rates-caption {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 18px;
}

.main-content__rates-text {
  text-align: center;
}

.main-content__rates-red {
  display: block;
  color: #ec1e79;
}

.main-content__rates-vip {
  top: 30px;
  left: 10px;
}

.main-content__rates-conversation {
  left: 20px;
}

